.bordercheck {
    border: 5px solid cyan;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.main-contact {
    background: #D6C9C9;
    
}

h2 {
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    color: black;
    padding: 10px;
    height: 100px;
    margin-top: 50px;
    
    
    
}

.img-portfolio {
    width: 250px;
    height:250px;
    border-radius: 50%;
    
}


